<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageheader  -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Acompañamientos </h2>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Body page  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <div class="contenedorAddt">
          <mat-card *ngFor="let acomp of tablaAcomps; let i = index" class="p-0">
            <mat-card-header class="d-flex  justify-content-between align-items-center pt-3">
              <mat-card-title class="m-0 list-title">{{acomp.nombre | titlecase}}</mat-card-title>
              <button class="mr-3" (click)="getTablaAcomp(acomp.nombre, acomp.nombre)" data-toggle="modal" data-target="#add"
                mat-icon-button style="background: #feeff0">
                <mat-icon>add</mat-icon>
              </button>
            </mat-card-header>
            <hr>
            <mat-list role="list">
              <mat-list-item *ngFor="let item of acomps[i]; let i = index"
                class="d-flex  justify-content-between align-items-center">
                <mat-card-title class="m-0 item-title">{{item.nombre | titlecase}}</mat-card-title>
                <mat-card-actions class="float-right">
                <button (click)="updatePublish(acomp.nombre, item.id, item.publish)" [ngClass]="item.publish === 1 ? 'fa-eye text-success' : 'fa-eye-slash text-danger'" class="btn far"></button>                         
                <button (click)="getAcompToUpdate(acomp.nombre, item.id, item.nombre)" data-toggle="modal"
                    data-target="#edit" mat-icon-button style="background: #feeff0">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button (click)="deleteAcomp(item.id, acomp.nombre)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-list-item>
              <div class="px-3" *ngIf="acomps[i] == ''">
                <p>Aun no tiene {{acomp.nombre}} añadidos</p>
              </div>
            </mat-list>
          </mat-card>
        </div>

        <!-- ============================================================== -->
        <!-- Modal agregar  -->
        <!-- ============================================================== -->
        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Agregar nuevo {{agregar.nombre}}</h5>
                <button type="button" class="close" (click)="resetForm(agregarForm)" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="agregarForm">
                  <mat-form-field class="w-100" appearance="outline" color="accent">
                    <mat-label>Nombre</mat-label>
                    <input class="text-capitalize" matInput formControlName="nombre">
                    <mat-error class="my-2" *ngIf="agregarForm.controls['nombre'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="agregar.nombre === 'bebidas'" color="accent" class="w-100" appearance="outline">
                    <mat-label>¿A que tipo de bebida pertenece?</mat-label>
                    <mat-select formControlName="tipoAcompBebida">
                      <mat-option *ngFor="let bebida of tipoBebidas" [value]=bebida.id>
                        {{bebida.nombre | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="my-2" *ngIf="agregarForm.controls['tipoAcompBebida'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>

          <!-- ?Esto es para habilitar cantidad en acompanamientos -->
          <!-- <mat-form-field appearance="outline" class="w-100" color="accent">
                    <mat-label>Cantidad</mat-label>
                    <input class="text-capitalize" matInput placeholder="Cantidad" type="number" formControlName="cantidad">
                </mat-form-field>
                <mat-card-actions class="px-3">
                  <mat-checkbox #ilimitado formControlName="ilimitado">Ilimitado</mat-checkbox>
                </mat-card-actions> -->

                  <mat-form-field color="accent" class="w-100" appearance="outline">
                    <mat-label>¿Desea que sea visible?</mat-label>
                    <mat-select formControlName="publish" [(value)]="selected">
                      <mat-option [value]=visible>
                        Si
                      </mat-option>
                      <mat-option [value]=noVisible>
                        No
                      </mat-option>
                    </mat-select>
                    <mat-error class="my-2" *ngIf="agregarForm.controls['publish'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>
                  <button class="btnmodal btnmodal-confirm" mat-button type="button" (click)="createAcomp(); resetForm(agregarForm)" [disabled]="!agregarForm.valid">Guardar</button>
                  <button class="btnmodal" mat-button type="button" (click)="resetForm(agregarForm)" data-dismiss="modal">Cancelar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Fin Modal agregar  -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Modal Editar  -->
        <!-- ============================================================== -->
        <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Editar {{editar.nombre}}</h5>
                <button type="button" class="close" (click)="resetForm(editarForm)" data-dismiss="modal"
                  aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="editarForm">
                  <mat-form-field class="w-100" appearance="outline" color="accent">
                    <mat-label>Nombre</mat-label>
                    <input class="text-capitalize" matInput placeholder="Nombre" formControlName="nombre">
                    <mat-error class="my-2" *ngIf="editarForm.controls['nombre'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>
                  <mat-form-field *ngIf="editar.tabla === 'bebidas'" color="accent" class="w-100" appearance="outline">
                    <mat-label>¿A que tipo de bebida pertenece?</mat-label>
                    <mat-select formControlName="tipoAcompBebida">
                      <mat-option *ngFor="let bebida of tipoBebidas" [value]=bebida.id>
                        {{bebida.nombre | titlecase}}
                      </mat-option>
                    </mat-select>
                    <mat-error class="my-2" *ngIf="editarForm.controls['tipoAcompBebida'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>

          <!-- ?Esto es para habilitar cantidad en acompanamientos -->
          <!-- <mat-form-field appearance="outline" class="w-100" color="accent">
                    <mat-label>Cantidad</mat-label>
                    <input class="text-capitalize" matInput placeholder="Cantidad" type="number"
                      formControlName="cantidad">
                  </mat-form-field>
                  <mat-card-actions class="px-3">
                    <mat-checkbox #ilimitado formControlName="ilimitado">Ilimitado</mat-checkbox>
                  </mat-card-actions> -->

                  <mat-form-field color="accent" class="w-100" appearance="outline">
                    <mat-label>¿Desea que sea visible?</mat-label>
                    <mat-select formControlName="publish" [(value)]="selected">
                      <mat-option [value]=visible>
                        Si
                      </mat-option>
                      <mat-option [value]=noVisible>
                        No
                      </mat-option>
                    </mat-select>
                    <mat-error class="my-2" *ngIf="editarForm.controls['publish'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>
                  <input type="hidden" value="{{editar.tabla}}">
                  <button class="btnmodal btnmodal-confirm" (click)="updateAcomp(); resetForm(editarForm)" [disabled]="!editarForm.valid" mat-button type="button">Guardar</button>
                  <button class="btnmodal" mat-button type="button" (click)="resetForm(editarForm)" data-dismiss="modal">Cancelar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- FIn Modal Editar  -->
        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!--End body page  -->
      <!-- ============================================================== -->
    </div>
  </div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
