.linkTab {
  text-decoration: none;
  transition: .3s;
  position: relative;
  border: 0;
  background: #fafafa;
  font-size: 16px;
  color: #908f8f;
}

.linkTab::after {
  content: '';
  position: absolute;
  left: 0;
  height: 2px;
  background: var(--RojoPrincipal);
  width: 0;
  bottom: -3px;
  transition: .3s;
}

.linkTab:hover::after,
.linkTab.active::after {
  width: 100% !important;
  color: var(--RojoPrincipal) !important;
}

.nav-tabs .nav-link.active {
  color: #495057;
  background: #fafafa;
  border-color: #dee2e6 #dee2e6 #fff;
}

.linkTab:hover {
  color: #333 !important;
}


@media screen and (max-width:768px) {
  #myTab{
    display: grid;
    grid-gap: 5px;
  }
}
