<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>

<div *ngIf="delivers" class="dashboard-wrapper my-5 pt-5 pb-5 fade-animation">
  <div class="pb-4">
    <app-admin-row
      *ngFor="let deliver of delivers"
      [rowImg]="deliver.img?.url"
      [dataId]="deliver.id"
      rowTitle="{{deliver.nombre}} {{deliver.apellido}}"
      [rowSubtitle]="deliver.statusPedido"
      [hasActions]="true"
      [isDisabled]="deliver.disabled"
      [deleteAction]='deleteDeliver'
      [disabledAction]="disableDeliver"
      [formType]="formType"
      EditRedirectTo="{{currentPath}}/{{deliver.id}}">
    </app-admin-row>
  </div>
</div>
<ng-container *ngIf="!delivers">
  <app-page-loader></app-page-loader>
</ng-container>

<app-bottom-nav [data]='bottomNavData'></app-bottom-nav>
<app-floating-button [formType]='deliverFormType' [link]="currentPath + '/add'"></app-floating-button>
