<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true' [goBackUrl]='goBackUrl'></app-nav>

<div class="container">
  <div class="mt-5 pt-5 pb-4">
    <app-company-form *ngIf="isCompanyFormType" (formGroupEmitter)="getForm($event)" [isLoading]="isLoading"></app-company-form>
    <app-user-form *ngIf="isUserFormType" (formGroupEmitter)="getForm($event)" [isLoading]="isLoading"></app-user-form>
    <app-repartidor-form *ngIf="isRepartidorFormType" (formGroupEmitter)="getForm($event)" [isLoading]="isLoading" configId="{{configId}}"></app-repartidor-form>
  </div>
</div>
