       <app-header></app-header>
       <app-sidebar></app-sidebar>
       <!-- ============================================================== -->
       <!-- wrapper  -->
       <!-- ============================================================== -->
       <div class="dashboard-wrapper componentContainer">
         <div class="dashboard-ecommerce">
           <div class="container-fluid dashboard-content ">
             <!-- ============================================================== -->
             <!-- pageheader  -->
             <!-- ============================================================== -->
             <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 <div class="page-header">
                   <h2 class="pageheader-title">Facturación</h2>
                 </div>
               </div>
             </div>
             <!-- ============================================================== -->
             <!-- Facturas  -->
             <!-- ============================================================== -->
             <div class="row mt-4">
               <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                 <div class="card border-3 border-top border-top-primary w-100">
                   <div class="card-body  text-center">
                     <h5 class="subtitles-card text-muted">Recibos por año calendario</h5>
                     <p class="text-muted">Descargue sus recibos de un año calendario en formato PDF.</p>
                     <div class="metric-value d-inline-block">
                       <mat-form-field [formGroup]="YearsInvo" id="yearInvo" color="accent" class="w-100"
                         appearance="outline">
                         <mat-label>Año</mat-label>
                         <mat-select formControlName="year" [(value)]="selectedYear">
                           <mat-option *ngFor="let year of years " [value]=year>
                             {{year}}
                           </mat-option>
                         </mat-select>
                       </mat-form-field>
                     </div>

                   </div>
                 </div>
               </div>
               <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
                 <div class="card">
                   <h5 class="card-header d-flex justify-content-between align-items-center subtitles-card py-4">
                     Recibos {{YearsInvo.value.year}}</h5>
                   <div class="card-body p-0">
                     <div class="table-responsive">
                       <table class="table">
                         <thead class="bg-light">
                           <tr class="border-0">
                             <th class="border-0">Fecha</th>
                             <th class="border-0">Servicio</th>
                             <th class="border-0">Mes</th>
                             <th class="border-0">Total</th>
                             <th class="border-0">PDF</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr *ngFor="let mes of meses">
                             <td>{{mes[0] | date: 'MM/yyyy'}}</td>
                             <td>Servicio de publicidad</td>
                             <td>{{mes[0] | mes}}</td>
                             <td><span class="labelStatus labelStatus-danger">
                                 {{mes[2] | currency:"BsS. "}}</span>
                             </td>
                             <td> <button class="fas fa-download buttonIcon labelStatus-danger"
                                 [routerLink]="[ '/invoice/receipt/'+mes[0][0]+mes[0][2] ]"></button>
                             </td>
                           </tr>
                         </tbody>
                       </table>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
             <!-- ============================================================== -->
             <!-- Facturas  -->
             <!-- ============================================================== -->
             <!-- ============================================================== -->
             <!-- end pageheader  -->
             <!-- ============================================================== -->
             <!-- ============================================================== -->
             <!-- Body page  -->
             <!-- ============================================================== -->
             <div class="ecommerce-widget">










             </div>
             <!-- ============================================================== -->
             <!--End body page  -->
             <!-- ============================================================== -->

           </div>
         </div>
         <!-- ============================================================== -->
         <!-- footer -->
         <!-- ============================================================== -->
         <app-footer></app-footer>
         <!-- ============================================================== -->
         <!-- end footer -->
         <!-- ============================================================== -->
       </div>
       <!-- ============================================================== -->
       <!-- end wrapper  -->
       <!-- ============================================================== -->
