<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>

<div class="dashboard-wrapper">
  <div class="mt-5 pt-5">
    <app-user-row
      [dataId]="10"
      [rowTitle]="'Juan Lopez'"
      [rowSubtitle]="'Disponible'"
      [hasActions]="true"
      [isDisabled]='true'
      [deleteAction]='deleteRepartidor'
      [disabledAction]='disableRepartidor'
      [formType]='repartidorFormType'>
    </app-user-row>
  </div>
</div>

<app-bottom-nav [data]='bottomNavData'></app-bottom-nav>
