<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="container mt-5 pt-5">
    <app-user-row [rowTitle]="'Juan Lopez'" [rowSubtitle]="'Disponible'" [rowStatus]="'activo'"></app-user-row>
  </div>
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
