.btn {
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: .3rem;
  font-size: 1rem;
}
.btn-modal {
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
}
.btn.disabled, .btn:disabled {
  opacity: 0.65;
  box-shadow: none !important;
}
