/*** TIME PICKER ***/
.timepicker__header {
  background-color: var(--RojoPrincipal) !important;
}

.clock-face__number>span.active {
  background-color: var(--RojoPrincipal) !important;
}

.timepicker-button {
  color: var(--RojoPrincipal) !important;
}

.clock-face__clock-hand {
  background-color: var(--RojoPrincipal) !important;
}

/***FIN  TIME PICKER ***/
