 <!-- ============================================================== -->
 <!-- navbar -->
 <!-- ============================================================== -->
 <div class="dashboard-header d-none d-sm-none d-md-none d-lg-block">
  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <div class="logo">
        <img [src]="URL_SERVER+'web/2.png'" alt="Pidespeed" width="215">
      </div>
      <ul class="navbar-nav ml-auto navbar-right-top">
      <!-- <li class="nav-item dropdown notification">
          <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span class="indicator"></span></a>
          <ul class="dropdown-menu dropdown-menu-right notification-dropdown">
            <li>
              <div class="notification-title"> Notificaciones</div>
              <div class="notification-list">
                <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action">
                    <div class="notification-info">
                      <div class="notification-list-user-img"><img [src]="'assets/images/avatar-5.jpg'" alt="" class="user-avatar-md rounded-circle"></div>
                      <div class="notification-list-user-block"><span class="notification-list-user-name">Jessica
                        Caruso</span>accepted your invitation to join the team.
                        <div class="notification-date">Hace 2 min</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li>
              <div class="list-footer"> <a href="#">Ver todas las notificaciones</a></div>
            </li>
          </ul>
        </li>  -->
        <li class="nav-item dropdown nav-user">
          <a class="nav-link nav-user-img" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="URL_SERVER+empresa.logo" alt="{{ empresa.nombre }} logo" class="user-avatar-md rounded-circle object-fit-contain mr-3">{{ empresa.nombre }} <i class="fas fa-chevron-down" style="font-size: 14px;"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" [routerLink]="[ '/profile']"><i class="fas fa-user mr-2"></i>Cuenta</a>
            <a style="cursor: pointer;" class="dropdown-item" (click)="onLogOut()"><i class="fas fa-power-off mr-2"></i>Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<!-- ============================================================== -->
<!-- end navbar -->
<!-- ============================================================== -->
