<nav id="nav" class="bg-red2 z-index-2">
  <div class="container text-center h-xs-55p">
    <button *ngIf="isVisibleGoBackButton" [routerLink]="[ goBackUrl || '' ]" class="go_back_button" mat-icon-button aria-label="Go back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button id="menuApp" (click)="toggleNav()" class="navbar-toggler">
        <div class="hamburger_menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </button>
    <img [src]="'https://ssl.pidespeed.com/web/1.png'" alt="logo de pidespeed" class="w-xs-130p mt-2">
  </div>
  <div class="text-center bg-whisper py-1">
    <h1 class="h6 mb-0">{{ pageTitle }}</h1>
  </div>
</nav>

<app-mobile-menu></app-mobile-menu>
