<h5>Order: {{ order?.code }}</h5>
<mat-accordion>
  <mat-expansion-panel class="card mt-3">
    <mat-expansion-panel-header class="px-3">
      <mat-panel-title>
        <h6 class="mb-0 lead-sm">Cliente</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="px-2">
      <li>Nombre: {{ client?.nombre }} {{ client?.apellido }}</li>
      <li>Telefono: {{ client?.telefono1 }}</li>
      <li>Correo: {{ client?.email }}</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion>
  <mat-expansion-panel class="card mt-3">
    <mat-expansion-panel-header class="px-3">
      <mat-panel-title>
        <h6 class="mb-0 lead-sm">Pedido</h6>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul class="px-2">
      <li>Nombre: Luis Sanchez</li>
      <li>Telefono: 412541554</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
<h5 class="mt-4">Ubicacion:</h5>
<div class="h-xs-200p w-100 bg-black"></div>
<div class="mt-4">
  <app-action-button [buttonLabel]="'Aceptar'" [action]="orderAction"></app-action-button>
</div>
