<ng-container [formGroup]="form">
  <mat-form-field color="accent" class="w-100" appearance="outline">
    <mat-label>{{ label }}</mat-label>
    <textarea formControlName="{{ fieldName }}" matInput rows="3"></textarea>
    <mat-error class="mt-2" *ngIf="form.controls[fieldName].errors?.required">
      Este campo es obligatorio
    </mat-error>
    <mat-error class="mt-2" *ngIf="form.controls[fieldName].errors?.maxlength">
      Su {{ label }} no puede tener mas de {{ maxLength }} caracteres.
    </mat-error>
    <mat-hint *ngIf="maxLength" align="end">{{ form.controls[fieldName].value.length }} / {{ maxLength }}</mat-hint>
  </mat-form-field>
</ng-container>
