<div class="modal fade" id="AppModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 p-3">
      <div class="d-flex align-items-center justify-content-between position-relative {{ !isHeaderVisible ? 'h-xs-50p' : '' }}">
        <div *ngIf="isHeaderVisible">
          <h4 class="mb-0">{{ modalTitle ? modalTitle : 'Titulo aqui' }}</h4>
          <p>{{ modalDescription ? modalDescription : 'Descripcion aqui'}}</p>
        </div>
        <button type="button" class="close position-absolute top-0 right-0" data-dismiss="modal" aria-label="Close">
          <span class="material-icons">
            close
          </span>
        </button>
      </div>
      <div class="modal-body p-0">
        <app-company-form *ngIf="isCompanyFormType"></app-company-form>
        <app-user-form *ngIf="isUserFormType"></app-user-form>
        <app-repartidor-form *ngIf="isRepartidorFormType"></app-repartidor-form>
        <app-image-cropper *ngIf="isImageCropperType"
          [imageEvent]="imageEvent"
          [imageURLToEdit]="imageURLToEdit"
          [imageSettings]="imageSettings"
          (croppedImage)="getImageCropped($event)"
          (imgResultAfterCompress)="getImageCroppedAndCompressed($event)">
        </app-image-cropper>
      </div>
    </div>
  </div>
</div>
