<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageheader  -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Adicionales </h2>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Body page  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12s col-sm-12 col-12">
            <div class="card">
              <h5 class="card-header d-flex justify-content-between align-items-center subtitles-card">Adicionales 
                <button data-toggle="modal" class="float-right" data-target="#add" mat-icon-button style="background: #feeff0">
                  <mat-icon>add</mat-icon>
                </button>
              </h5>
              <div class="card-body p-0">
                <div class="table-responsive">
                  <table class="table">
                    <thead class="bg-light">
                      <tr class="border-0">
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Tabla</th>
                        <th scope="col">Publico</th>
                        <th scope="col">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let adicional of adicionales">
                        <td>{{adicional.nombre | titlecase}}</td>
                        <td>{{adicional.precio}}</td>
                        <td>{{adicional.tabla | titlecase}}</td>
                        <td *ngIf="adicional.publish == 1">Si</td>
                        <td *ngIf="adicional.publish == 0">No</td>
                        <td class="d-flex">
                          <button (click)="getAdditionalToUpdate(adicional.id)" data-toggle="modal" data-target="#edit" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                          </button>
                          <button mat-icon-button (click)="deleteAdicional(adicional.id)">
                            <mat-icon>delete</mat-icon>
                          </button>
                          <button (click)="updatePublish(adicional.id, adicional.publish)" [ngClass]="adicional.publish === 1 ? 'fa-eye text-success' : 'fa-eye-slash text-danger'" class="btn far"></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- ============================================================== -->
      <!-- Modal agregar  -->
      <!-- ============================================================== -->
      <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Agregar adicional</h5>
              <button type="button" class="close" (click)="resetForm(agregarAdicionalForm)" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="empresa.modDollar == 1">
                <div class="alert danger-alert" *ngIf="empresa.tasa == 0 && empresa.tasa_pidespeed != 1">
                  <h3 class="m-0">No ha asignado una tasa de cambio, se usará la tasa general de pidespeed ({{tasa}} Bss)</h3>
                </div>
                <div class="alert danger-alert" *ngIf="empresa.tasa_pidespeed == 1">
                  <h3 class="m-0">La tasa actual de pidespeed es {{tasa}} Bss</h3>
                </div>
              </div>
              <form [formGroup]="agregarAdicionalForm">
                <mat-form-field class="w-100" appearance="outline" color="accent">
                  <mat-label>Nombre</mat-label>
                  <input class="text-capitalize" formControlName="nombre" matInput>
                  <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['nombre'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100" appearance="outline">
                  <mat-label>¿Esta relacionado a un acompañamiento?</mat-label>
                  <mat-select formControlName="relacion" #relacionAgg>
                    <mat-option [value]=siRelacion>
                      Si
                    </mat-option>
                    <mat-option [value]=noRelacion>
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['relacion'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <ng-container *ngIf="relacionAgg.value === 1">
                  <ng-container *ngIf="acomps.length == 0; then sinAccompCreate; else conAccompCreate"></ng-container>
                  <ng-template #sinAccompCreate>
                    <mat-error class="text-center">No tienes acompañamientos disponibles.
                      <button class="" mat-button type="button" [routerLink]="['/products/accompaniments']" data-dismiss="modal">Crear acompañamiento</button>
                    </mat-error>
                  </ng-template>
                  <ng-template #conAccompCreate>

                    <mat-form-field color="accent" class="w-100" appearance="outline">
                      <mat-label>¿A que tipo acompañamiento pertenece?</mat-label>
                      <mat-select #accomAgg formControlName="tipoAcomp">
                        <mat-option *ngFor="let acomp of acomps" [value]=acomp.id>
                          {{acomp.nombre | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['tipoAcomp'].errors?.required">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                    <mat-form-field *ngIf="accomAgg.value === 3" color="accent" class="w-100"
                      appearance="outline">
                      <mat-label>¿A que tipo de bebida pertenece?</mat-label>
                      <mat-select formControlName="tipoAcompBebida">
                        <mat-option *ngFor="let bebida of tipoBebidas" [value]=bebida.id>
                          {{bebida.nombre | titlecase}}
                        </mat-option>
                      </mat-select>
                      <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['tipoAcompBebida'].errors?.required">Este campo es obligatorio</mat-error>
                    </mat-form-field>

                  </ng-template>
                </ng-container>

                <mat-form-field *ngIf="empresa.modDollar == 1" appearance="outline" class="w-100" color="accent">
                  <mat-label>Precio en $</mat-label>
                  <input matInput (input)="cambio($event, 'agregar')" placeholder="Precio en $" formControlName="precio_dls" type="number">
                  <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['precio_dls'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100" color="accent">
                  <mat-label>Precio</mat-label>
                  <input matInput formControlName="precio" type="number">
                  <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['precio'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100" appearance="outline">
                  <mat-label>Desea que sea visible</mat-label>
                  <mat-select formControlName="publish" [(value)]="visibleAdi">
                    <mat-option [value]=visible>
                      Si
                    </mat-option>
                    <mat-option [value]=noVisible>
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error class="my-2" *ngIf="agregarAdicionalForm.controls['publish'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <button class="btnmodal btnmodal-confirm" (click)="createAdicional(); resetForm(agregarAdicionalForm)" [disabled]="!agregarAdicionalForm.valid" mat-button type="button">Guardar</button>
                <button class="btnmodal" mat-button type="button" (click)="resetForm(agregarAdicionalForm)" data-dismiss="modal">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Fin Modal agregar  -->
      <!-- ============================================================== -->

      <!-- ============================================================== -->
      <!-- Modal Editar  -->
      <!-- ============================================================== -->
      <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Editar adicional</h5>
              <button type="button" class="close" (click)="resetForm(editarAdicionalForm)" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
            </div>
            <div class="modal-body">
              <div *ngIf="empresa.modDollar == 1">
                <div class="alert danger-alert" *ngIf="empresa.tasa == 0 && empresa.tasa_pidespeed != 1">
                  <h3 class="m-0">No ha asignado una tasa de cambio, se usará la tasa general de pidespeed ({{tasa}} Bss)</h3>
                </div>
                <div class="alert danger-alert" *ngIf="empresa.tasa_pidespeed == 1">
                  <h3 class="m-0">La tasa actual de pidespeed es {{tasa}} Bss</h3>
                </div>
              </div>
              <form [formGroup]="editarAdicionalForm">
                <mat-form-field class="w-100" appearance="outline" color="accent">
                  <mat-label>Nombre</mat-label>
                  <input class="text-capitalize" formControlName="nombre" matInput>
                  <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['nombre'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100" appearance="outline">
                  <mat-label>¿Esta relacionado a un acompañamiento?</mat-label>
                  <mat-select formControlName="relacion" #relacionEdit [(value)]="relacionAcomp">
                    <mat-option [value]="siRelacion">
                      Si
                    </mat-option>
                    <mat-option [value]="noRelacion">
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['relacion'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <ng-container *ngIf="relacionAcomp === 1">
                  <ng-container *ngIf="acomps.length == 0; then sinAccompEdit; else ConAccompEdit"></ng-container>
                  <ng-template #sinAccompEdit>
                    <mat-error class="text-center">No tienes acompañamientos disponibles.
                      <button class="" mat-button type="button" [routerLink]="['/products/accompaniments']" data-dismiss="modal">Crear acompañamiento</button>
                    </mat-error>
                  </ng-template>

                    <ng-template #ConAccompEdit>
                      <mat-form-field color="accent" class="w-100" appearance="outline">
                        <mat-label>¿A que tipo acompañamiento pertenece?</mat-label>
                        <mat-select (ngModelChange)="resetTipoBebida()" #accomEdit formControlName="tipoAcomp" [(value)]="tipoAcompSelected">
                          <mat-option *ngFor="let acomp of acomps" [value]="acomp.id">
                            {{acomp.nombre | titlecase}}
                          </mat-option>
                        </mat-select>
                        <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['tipoAcomp'].errors?.required">Este campo es obligatorio</mat-error>
                      </mat-form-field>

                      <mat-form-field *ngIf="tipoAcompSelected === 3" color="accent" class="w-100" appearance="outline">
                        <mat-label>¿A que tipo de bebida pertenece?</mat-label>
                        <mat-select formControlName="tipoAcompBebida" [(value)]="tipoAcompBebidaSelected">
                          <mat-option *ngFor="let bebida of tipoBebidas" [value]="bebida.id">
                            {{bebida.nombre | titlecase}}
                          </mat-option>
                        </mat-select>
                        <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['tipoAcompBebida'].errors?.required">Este campo es obligatorio</mat-error>
                      </mat-form-field>
                    </ng-template>
                </ng-container>

                <mat-form-field *ngIf="empresa.modDollar == 1" appearance="outline" class="w-100" color="accent">
                  <mat-label>Precio en $</mat-label>
                  <input matInput (input)="cambio($event, 'editar')" placeholder="Precio en $" formControlName="precio_dls" type="number">
                  <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['precio_dls'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100" color="accent">
                  <mat-label>Precio</mat-label>
                  <input matInput placeholder="Precio" formControlName="precio" type="number">
                  <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['precio'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <mat-form-field color="accent" class="w-100" appearance="outline">
                  <mat-label>Desea que sea visible</mat-label>
                  <mat-select formControlName="publish" [(value)]="visibleAdi">
                    <mat-option [value]=visible>
                      Si
                    </mat-option>
                    <mat-option [value]=noVisible>
                      No
                    </mat-option>
                  </mat-select>
                  <mat-error class="my-2" *ngIf="editarAdicionalForm.controls['publish'].errors?.required">Este campo es obligatorio</mat-error>
                </mat-form-field>

                <button class="btnmodal btnmodal-confirm" mat-button type="button" (click)="updateAdicional(); resetForm(editarAdicionalForm)" [disabled]="!editarAdicionalForm.valid">Guardar</button>
                <button class="btnmodal" mat-button type="button" (click)="resetForm(editarAdicionalForm)" data-dismiss="modal">Cancelar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- Fin Modal Editar  -->
      <!-- ============================================================== -->
      </div>
    <!-- ============================================================== -->
    <!--End body page  -->
    <!-- ============================================================== -->
    </div>
  </div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
