:root {
    --RojoPrincipal: #ff414d;
    --SegundoRojoOscuro: #f13b46;
    --TercerRojoOscuro: #ea313c;
    --fuentePrincipal: "Muli", sans-serif;
  }
  .mat-card {
    background: #fafafa
}
  .mat-card-content,
  .mat-card-subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  
  .mat-card:not([class*="mat-elevation-z"]) span {
    color: var(--RojoPrincipal);
    font-weight: 500;
  }
  
  .mat-card:not([class*="mat-elevation-z"]) span:hover {
    cursor: pointer;
  }
  
  ul {
    list-style: square;
    margin: 10px;
  }
  
  .mat-card-title {
    font-size: 24px;
    font-weight: 500;
  }
  
  .mat-card-content {
    font-size: 18px;
    line-height: 32px;
  }
  
  .mat-card-subtitle:not(:first-child) {
    padding: 15px 10px;
    color: #3e3e3e;
    font-size: 20px;
  }
  
  .headerTerminos h2 {
    font-size: 52px;
  }
  
  .headerTerminos span {
    font-size: 18px;
  }
  
  .mat-card:not([class*="mat-elevation-z"]) {
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 0;
  }
  
  @media screen and (min-width: 992px) {
    .headerTerminos h2 {
      font-size: 82px;
    }
  
    .mat-card:not([class*="mat-elevation-z"]) {
      width: 75%;
    }
  
    .mat-card-content {
      font-size: 16px;
      line-height: 28px;
    }
  
    .mat-card-subtitle:not(:first-child) {
      font-size: 20px;
    }
  }
  .bodyTerms{
    text-align: justify;
  }
  
  a{
    color: var(--RojoPrincipal);
  }