:root {
  --RojoPrincipal: #ff414d;
  --SegundoRojoOscuro: #f13b46;
  --TercerRojoOscuro: #ea313c;
  --fuentePrincipal: "Muli", sans-serif;
  --FondoApp: #eaeaea;
}

.carousel-item{
  background-position:center;
  background-size: cover;
}

.radioInputsCards {
  display: flex;
}

/**
* 1. Hides the input from view
* 2. Ensures the element does not consume any space
*/

.radioInputsCards input[type="radio"] {
  visibility: hidden; /* 1 */
  height: 0; /* 2 */
  width: 0; /* 2 */
}

.radioInputsCards label {
  display: flex;
  flex: auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #7e7e7e;
  padding: 5px 10px;
  border-radius: 6px;
  transition: transition-fast ease-out;
  user-select: none;
  margin-right: 8px;
  border: 1px solid #f8f8f8 ;
}

.radioInputsCards label:last-of-type {
  margin-right: 0;
}

.radioInputsCards input[type="radio"]:checked + label {
  background-color: var(--SegundoRojoOscuro);
  color: #fff;
}

.radioInputsCards input[type="radio"]:hover:not(:checked) + label {
  color: #333;
  border-color: var(--RojoPrincipal);
}

.modDisabled {
  -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
  -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.btn-red {
  color: #fff;
  background-color: var(--RojoPrincipal);
  border-color: var(--RojoPrincipal);
}
.btn-custom-md {
  font-size: 18px;
  border-radius: 12px!important;
  width: 100%;
}