<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>

<div class="dashboard-wrapper">
  <div class="container mt-5 pt-5">
    <div class="row no-gutters mx-auto">
      <div class="col-6">
        <app-card class="card mb-2 mx-1 h-xs-120p"
          [dataId]="10"
          [cardType]='3'
          [cardTitle]="'Docs Food & Grill'"
          [titleTextSize]='14'
          [isDisabled]='true'
          [deleteAction]='deleteCompany'
          [disabledAction]='hideCompany'
          [hasActions]='true'
          [formType]='companyFormType'
          [EditRedirectTo]="currentPath + '/2'">
        </app-card>
      </div>
    </div>
  </div>
</div>

<app-bottom-nav [data]='bottomNavData'></app-bottom-nav>
<app-floating-button [formType]='companyFormType' [link]="currentPath + '/add'"></app-floating-button>
