<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="container mt-5 pt-5">
    <div class="row no-gutters mx-auto">
      <div class="col-6">
        <app-card class="card mb-2 mx-1 py-2 h-xs-120p"
          [cardType]='3'
          [cardTitle]="'Docs Food & Grill'"
          [titleTextSize]='14'
          [hasActions]='true'>
        </app-card>
      </div>
    </div>
  </div>
</div>

<app-bottom-nav [data]='bottomNavData'></app-bottom-nav>

