<div id="carousel" style="margin-top: -60px;" class="carousel slide carousel-fade" data-pause="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="d-none d-lg-block carousel-item active h-100">
      <img src="https://ssl.pidespeed.com/web/food.png" class="d-block h-100" alt="Food">
    </div>
    <div class="overlay">
      <div class="row mx-auto">
        <div class="col-xl-9 col-lg-8 d-none d-lg-flex">
          <div class="text-center mx-auto pt-5 mt-5 px-5">
            <h1 style="font-size: 50px;" class="text-white">Bienvenido a Empresas-PideSpeed!</h1>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 bg-white mt-5 pt-4 pt-lg-0 mt-lg-0">
          <div class="text-center">
            <div class="d-flex justify-content-center w-100 my-4">
              <img src="https://ssl.pidespeed.com/web/3.png" alt="Pidespeed" style="width: 215px; height: 100%;">
            </div>            
          </div>
          <span [ngSwitch]="estadoRecuperacion">
          <!-- ============================================================== -->
          <!-- Peticion de correo electronico  -->
          <!-- ============================================================== -->
            <div *ngSwitchCase="1">
              <h2>Restablecer contraseña</h2>
              <span>Para restablecer su contraseña, ingrese la dirección de correo electrónico que utilizó para configurar su cuenta. Le enviaremos un correo para ayudarlo a volver a su cuenta.</span>
              <div class="text-center my-2">
                <form [formGroup]="forgottenPasswordForm">
                  <mat-form-field appearance="outline" color="accent" class="w-100 w-md-75">
                    <mat-label>Correo electrónico</mat-label>
                    <input formControlName="email" matInput>
                    <mat-error class="mt-1" *ngIf="forgottenPasswordForm.controls['email'].errors?.required">Este campo es obligatorio</mat-error>
                    <mat-error class="mt-1" *ngIf="forgottenPasswordForm.controls['email'].errors?.pattern">No es un correo válido</mat-error>
                    <mat-icon matSuffix>perm_identity</mat-icon>
                  </mat-form-field>
                  <ng-container *ngIf="lazyloader; then cargando; else NoCargando"></ng-container>
                  <ng-template #NoCargando>
                    <button [disabled]='!forgottenPasswordForm.valid' type="submit" mat-raised-button
                    class="btn-custom-primary px-4 py-1 mt-2 w-100 w-md-75" (click)="confirmarEmail()">Enviar</button>
                  </ng-template>
                  <ng-template #cargando>
                    <div class="lazyloader"></div>
                  </ng-template>
                  <div class="d-flex justify-content-center mt-2">
                    <button class="btn-custom-outline px-4 py-1 mt-2 w-100 w-md-75 shadow-none" type="submit" [routerLink]="[ '/login']" mat-raised-button>Volver al inicio de sesión</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- Fin Peticion de correo electronico  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Peticion de codigo  -->
            <!-- ============================================================== -->
            <div *ngSwitchCase="2">
              <h2>Restablecer contraseña</h2>
              <span>Hemos enviado un correo electrónico con un código para restablecer su contraseña. Por favor colóquelo en el siguiente campo.</span>
              <div class="text-center my-2">
                <form [formGroup]="codeForm">
                  <mat-form-field appearance="outline" color="accent" class="w-100 w-md-75">
                    <mat-label>Código</mat-label>
                    <input formControlName="code" matInput>
                    <mat-error class="mt-1" *ngIf="codeForm.controls['code'].errors?.required">Este campo es obligatorio</mat-error>
                  </mat-form-field>
                  <ng-container *ngIf="lazyloader; then cargando; else NoCargando"></ng-container>
                  <ng-template #NoCargando>
                    <button [disabled]='!codeForm.valid' type="submit" mat-raised-button
                    class="buttonTypeRed" (click)="verificarCodigo()">Enviar</button>
                  </ng-template>
                  <ng-template #cargando>
                    <div class="lazyloader"></div>
                  </ng-template>
                </form>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- Fin Peticion de codigo  -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Peticion de nueva contrasena  -->
            <!-- ============================================================== -->
            <div *ngSwitchCase="3">
              <h2>Restablecer contraseña</h2>
              <span>Muy bien!, ya casi estamos. Ahora por favor ingrese su nueva contraseña.</span>
              <div class="text-center my-2">
                <form [formGroup]="passwordsForm">
                  <mat-form-field appearance="outline" color="accent" hintLabel="Entre 8 y 20 caracteres">
                    <mat-label>Contraseña</mat-label>
                    <input formControlName="password" matInput maxlength="20" placeholder="Ingresa tu contraseña" [type]="!hide ? 'password' : 'text'">
                    <mat-error class="mt-1" *ngIf="passwordsForm.controls['password'].errors?.required">Este campo es obligatorio</mat-error>
                    <mat-error class="mt-1" *ngIf="passwordsForm.controls['password'].errors?.minlength">Minimo 8 caracteres</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-form-field appearance="outline" color="accent" class="w-100 w-md-75">
                    <mat-label>Confirmar contraseña</mat-label>
                    <input formControlName="confirmPassword" [errorStateMatcher]="matcher" matInput maxlength="20" placeholder="Ingresa tu contraseña" [type]="!hide ? 'password' : 'text'">
                    <mat-error class="mt-1" *ngIf="cpwd.hasError('invalid')">Las contraseñas no coinciden</mat-error>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <ng-container *ngIf="lazyloader; then cargando; else NoCargando"></ng-container>
                  <ng-template #NoCargando>
                    <button [disabled]='!passwordsForm.valid' type="submit" mat-raised-button class="btn-custom-primary px-4 py-1 mt-2 w-100 w-md-75" (click)="cambiarPass()">Cambiar contraseña</button>
                  </ng-template>
                  <ng-template #cargando>
                    <div class="lazyloader"></div>
                  </ng-template>
                </form>
              </div>
            </div>
            <!-- ============================================================== -->
            <!-- Fin Peticion de nueva contrasena  -->
            <!-- ============================================================== -->
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--! Fin carousel -->
