
.text-black {
  color: #333333;
}
#carousel {
  background: rgb(214, 37, 37);
  background: linear-gradient(145deg, rgb(255, 65, 77) 0%, rgb(255, 65, 77) 14%, rgb(230, 59, 69) 33%, rgb(209, 54, 63) 33%, rgb(230, 59, 69) 65%, rgb(255, 255, 255) 65%, rgb(255, 255, 255) 86%, rgba(251, 251, 251, 1) 100%);
}
#carousel .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#carousel .overlay .container,
#carousel .overlay .row {
  height: 100vh;
}

.carousel-inner {
  height: 100vh;
}

.lazyloader {
  content: '';
  /* position: absolute; */
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader-rotation .8s infinite linear;
  animation: loader-rotation .8s infinite linear;
  border-left: 3px solid rgba(182, 114, 114, 0.15);
  border-right: 3px solid rgba(182, 114, 114, 0.15);
  border-bottom: 3px solid rgba(182, 114, 114, 0.15);
  border-top: 3px solid var(--RojoPrincipal);
  border-radius: 100%;
}

@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}
.linkSetTemplate {
  color: var(--RojoPrincipal) !important;
  font-weight: bold !important
}

.linkSetTemplate:hover {
  cursor: pointer;
}