<app-nav [pageTitle]='pageTitle' [isVisibleGoBackButton]='true'></app-nav>

<div class="dashboard-wrapper">
  <div class="mt-5 pt-5 pb-4">
    <app-admin-row
      [dataId]="10"
      [rowTitle]="'Juan Lopez'"
      [rowSubtitle]="'Administrador'"
      [hasActions]="true"
      [isDisabled]='false'
      [deleteAction]='deleteAdmin'
      [disabledAction]='disableAdmin'
      [formType]='adminFormType'
      [EditRedirectTo]="currentPath + '/2'">
    </app-admin-row>
  </div>
</div>

<app-bottom-nav [data]='bottomNavData'></app-bottom-nav>
<app-floating-button [formType]='adminFormType' [link]="currentPath + '/add'"></app-floating-button>
