<div class="fade-animation">
  <div class="container d-flex justify-content-between border-lg-bottom py-2 bg-white">
    <div class="d-flex w-100 d-flex justify-content-between justify-content-md-start">
      <img src="../../../assets/images/pidespeedlogo.png" alt="Logo de pidespeed" width=215>
    </div>
  </div>
  <div class="container text-center mt-5">
    <div class="text-center">
      <object type="image/svg+xml" data="../../../assets/images/error_outline-24px.svg" class="icon_error">
        error
      </object>
    </div>
    <h1 class="h5 mt-4">Comprueba tu conexión a internet e intenta nuevamente!</h1>
    <p>No pudimos conenctar con el servidor.</p>
    <button (click)="comprobarConexion()" class="mat-btn-red" mat-button>Reintentar</button>
  </div>
</div>

