<form [formGroup]="formGroup">
  <app-mat-input-field [form]='formGroup' [label]="'Nombre'" [fieldName]="'name'"></app-mat-input-field>
  <app-mat-input-field [form]='formGroup' [label]="'Apellido'" [fieldName]="'last_name'"></app-mat-input-field>
  <app-mat-select-field [form]='formGroup' [label]="'Rol'" [fieldName]="'role'"></app-mat-select-field>
  <app-mat-input-field [form]='formGroup' [label]="'Usuario'" [fieldName]="'username'"></app-mat-input-field>
  <app-mat-input-field [form]='formGroup' [label]="'Contraseña'" [fieldName]="'password'"></app-mat-input-field>
  <!-- TODO: Inputs files para imagenes y isActive puede ser un checkbox o un select -->
</form>

