<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup, imgResultAfterCompress)">
  <ng-container *ngIf="!configId || isDataLoaded">
    <app-input-file [form]='formGroup' [fieldName]="'image'" [imageURLToEdit]="deliverImageUrl" (imgResultAfterCompress)="getImageCroppedAndCompressed($event)"></app-input-file>
    <app-mat-input-field [form]='formGroup' [label]="'Nombre'" [fieldName]="'nombre'" [notBlank]='true'></app-mat-input-field>
    <app-mat-input-field [form]='formGroup' [label]="'Apellido'" [fieldName]="'apellido'"></app-mat-input-field>
    <app-mat-input-field [form]='formGroup' [label]="'Correo'" [fieldName]="'email'"></app-mat-input-field>
    <app-mat-input-field [form]='formGroup' [label]="'Cédula'" [fieldName]="'cedula'" [minLength]="6" [maxLength]="7"></app-mat-input-field>
    <app-mat-input-field [form]='formGroup' [label]="'Teléfono'" [fieldName]="'telefono'" [inputType]="'tel'" [minLength]="10" [maxLength]="11"></app-mat-input-field>
    <app-mat-textarea-field [form]='formGroup' [label]="'Dirección'" [fieldName]="'direccion'" [maxLength]="100" ></app-mat-textarea-field>
    <app-mat-input-field [form]='formGroup' [label]="'Usuario'" [fieldName]="'username'" [minLength]="4" [maxLength]="20" [hint]="'Los nombres de usuario pueden contener letras, números, puntos, guíones(-) y pisos bajos (_).'"></app-mat-input-field>
    <button mat-button class="text-bright-gray pt-3 pl-0" *ngIf="!isPasswordVisible" (click)="showPassword()">Modificar Contraseña</button>
    <div *ngIf="isPasswordVisible" class="mt-2">
      <app-mat-input-field [form]='formGroup' [label]="'Contraseña'" [fieldName]="'password'" [inputType]="'password'" [minLength]="8" [maxLength]="20"></app-mat-input-field>
      <a *ngIf="configId" mat-button class="text-bright-gray pl-0" (click)="showPassword()">Ocultar Contraseña</a>
    </div>
    <mat-accordion>
      <mat-expansion-panel class="card mt-3">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="h6 mb-0">Información del vehiculo</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-mat-select-field [form]='formGroup' [label]="'Tipo de vehiculo'" [fieldName]="'vehicle_type'" [options]="vehicleTypes"></app-mat-select-field>
        <app-input-file [form]='formGroup' [fieldName]="'vehicle_image'" (imgResultAfterCompress)="getImageCroppedAndCompressed($event)"></app-input-file>
      </mat-expansion-panel>
    </mat-accordion>
    <app-submit-button [buttonLabel]="'Guardar'" [isDisabled]="!formGroup.valid" [isFormLoading]="isFormLoading"></app-submit-button>
  </ng-container>
  <ng-container *ngIf="configId && !isDataLoaded">
    <app-page-loader></app-page-loader>
  </ng-container>
</form>
