<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageheader  -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <h2 class="pageheader-title">Preguntas frecuentes</h2>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Body page  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card border-3 border-top border-top-primary w-100">
              <div class="card-body  text-center">
                <h5 class="subtitles-card text-muted">Aqui puedes conocer algunos aspectos basicos de la plataforma</h5>
                <mat-accordion>
                  <mat-expansion-panel class="py43">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i> ¿Cómo actualizo las horas de mi tienda?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Descripcion</mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i>Marcar un artículo fuera de stock
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Descripcion</mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i>¿Qué debo hacer si me quedo sin un elemento del menú?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Descripcion</mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i> ¿Cómo puedo editar el precio de un artículo u opción en mi menú?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Descripcion</mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i> ¿Cómo puedo eliminar un elemento de mi menú de forma permanente?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description class="mt-3">PideSpeed es una plataforma de entrega de comidas. Promovemos
                      tu menú mediante la
                      app PideSpeed, el sitio web y varios medios adicionales. Cuando recibes un pedido, lo
                      preparas
                      normalmente
                      y enviaremos un Socio Repartidor para recolectarlo y entregarlo rápido.
                    </mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">help_outline</i> Agregar un nuevo elemento a su menú
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Cobramos una tasa de servicio, que se calcula como un porcentaje de
                      tus
                      ventas con nuestro sitio web. </mat-panel-description>

                  </mat-expansion-panel>

                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">
                          help_outline
                        </i> ¿Cómo actualizo mi menú en PideSpeed?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Tu éxito es el nuestro. Queremos que te destaques. Una vez que te
                      asocies con
                      nosotros,
                      te incluiremos en las campañas de marca orientadas al cliente, publicaciones atractivas
                      pensadas específicamente para
                      las redes
                      sociales y más.</mat-panel-description>

                  </mat-expansion-panel>

                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">
                          help_outline
                        </i> Agregar fotos a sus elementos de menú
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Una vez que completes nuestro formulario de interés, un miembro del
                      equipo de Uber
                      Eats
                      se comunicará contigo para analizar el negocio y asegurarse de que somos una buena opción
                      para tu
                      restaurante.</mat-panel-description>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">
                          help_outline
                        </i> ¿Cómo puedo contactar al cliente?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Una vez que completes nuestro formulario de interés, un miembro del
                      equipo de Uber
                      Eats
                      se comunicará contigo para analizar el negocio y asegurarse de que somos una buena opción
                      para tu
                      restaurante.</mat-panel-description>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">
                          help_outline
                        </i> ¿Puedo retrasar un pedido?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Una vez que completes nuestro formulario de interés, un miembro del
                      equipo de Uber
                      Eats
                      se comunicará contigo para analizar el negocio y asegurarse de que somos una buena opción
                      para tu
                      restaurante.</mat-panel-description>
                  </mat-expansion-panel>

                  <mat-expansion-panel class="py-4">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <i class="material-icons d-flex align-items-center mr-2">
                          help_outline
                        </i> ¿Se puede quitar mi tienda de la plataforma PideSpeed?
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>Una vez que completes nuestro formulario de interés, un miembro
                      del
                      equipo de Uber
                      Eats
                      se comunicará contigo para analizar el negocio y asegurarse de que somos una buena
                      opción
                      para tu
                      restaurante.</mat-panel-description>
                  </mat-expansion-panel>



                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!--End body page  -->
      <!-- ============================================================== -->
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <app-footer></app-footer>
  <!-- ============================================================== -->
  <!-- end footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
