<div id="carousel" style="margin-top: -60px;" class="carousel slide carousel-fade" data-pause="true" data-ride="carousel">
  <div class="carousel-inner">
    <div class="d-none d-lg-block carousel-item active h-100">
      <img src="https://ssl.pidespeed.com/web/food.png" class="d-block h-100" alt="Food">
    </div>
    <div class="overlay">
      <div class="row mx-auto">
        <div class="col-xl-9 col-lg-8 d-none d-lg-flex">
          <div class="text-center mx-auto pt-5 mt-5 px-5">
            <h1 style="font-size: 50px;" class="text-white">Bienvenido a Empresas-PideSpeed!</h1>
            <p style="font-size: 18px;" class="text-white">
              Aquí podrás administrar todo el inventario, contenido e imagen de tú empresa de la manera más sencilla, organizada y simple de usar! Tendrás la facilidad de seguimiento de cada orden realizada por tus clientes y estar al corriente de todas tus ventas. Toda la información necesaria para la mejor experiencia de ventas en un solo espacio
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-lg-4 bg-white mt-5 pt-4 pt-lg-0 mt-lg-0">
          <div class="text-center">
            <div class="d-flex justify-content-center w-100 my-4">
              <img src="https://ssl.pidespeed.com/web/3.png" alt="Pidespeed" style="width: 215px; height: 100%;">
            </div>
            <h2 class="text-black">Ingresa a tu cuenta</h2>
            <form [formGroup]="loginForm">
              <mat-form-field appearance="outline" color="accent" class="w-100 w-md-75">
                <mat-label>Usuario</mat-label>
                <input formControlName="user" matInput>
                <mat-error *ngIf="loginForm.controls['user'].errors?.required" class="mt-2">Este campo es obligatorio</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" color="accent" class="w-100 w-md-75">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput [type]="!hide ? 'password' : 'text'">
                <mat-error *ngIf="loginForm.controls['password'].errors?.required" class="mt-2">Este campo es obligatorio</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{!hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            
              <ng-container *ngIf="lazyloader; then cargando; else NoCargando"></ng-container>
              <ng-template #NoCargando>
                <button [disabled]='!loginForm.valid' type="submit" (click)="onLogin()" mat-raised-button class="btn-custom-primary px-4 py-1 mt-2 w-100 w-md-75">Iniciar sesión</button>
              </ng-template>
              <ng-template #cargando>
                <div class="lazyloader"></div>
              </ng-template>
              <a class="linkSetTemplate d-block text-center my-3" [routerLink]="[ '/forgotten-password']">Olvidé mi contraseña</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  