<app-nav [pageTitle]=pageTitle [isVisibleGoBackButton]='true'></app-nav>
<app-bottom-nav [data]=bottomNavData></app-bottom-nav>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="container mt-5 pt-5">
    <div class="row no-gutters mx-auto border-bottom py-3">
      <div class="col-2">
        <img src="https://generated.photos/vue-static/home/hero/6.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 px-3 text-left align-self-center">
        <h3 class="h5 mb-1 p-0">Juan Lopez</h3>
        <p class="mb-0">Disponible </p>
      </div>
      <div class="col-3 text-right align-self-end mb-2">
        <small class="text-green text-capitalize"><b>Activo</b></small>
      </div>
    </div>
    <div class="row no-gutters mx-auto border-bottom py-3">
      <div class="col-2">
        <img src="https://generated.photos/vue-static/home/hero/6.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 px-3 text-left align-self-center">
        <h3 class="h5 mb-1 p-0">Juan Lopez</h3>
        <p class="mb-0">Entregando un pedido </p>
      </div>
      <div class="col-3 text-right align-self-end mb-2">
        <small class="text-warning text-capitalize"><b>Activo</b></small>
      </div>
    </div>
    <div class="row no-gutters mx-auto border-bottom py-3">
      <div class="col-2">
        <img src="https://generated.photos/vue-static/home/hero/6.png" class="img-fluid" alt="">
      </div>
      <div class="col-6 px-3 text-left align-self-center">
        <h3 class="h5 mb-1 p-0">Juan Lopez</h3>
        <p class="mb-0">Disponible en 15min </p>
      </div>
      <div class="col-3 text-right align-self-end mb-2">
        <small class="text-red text-capitalize"><b>Inactivo</b></small>
      </div>
    </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
