
.mat-accordion .mat-expansion-panel:last-of-type {
  width: 100% !important;
  margin: 0 auto;
}

.mat-expansion-panel-header:not([aria-disabled=true]) {
  height: 60px !important;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mat-card:not([class*=mat-elevation-z]),
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0 0 0 !important;
}

.totalChild:last-child {
  font-weight: bold;
}
.card {
  height: 85%;
}