/* ======================
# Color palette
====================== */
$white: #fff;
$black: #000;

$theme-colors: () !default;
$theme-colors: map-merge((
'white': $white,
'white-smoke': #f5f5f5,
'alice-blue': #f1f5fa,
'blue-gray': #edf2f5,
'whisper': #ececec,
'light-gray': #cbcbcb,
'nobel': #868aa5,
'bright-gray': #4a5360,
'gray': #363636,
'midnight': #23303f,
'space-gray': #202a35,
'graphite': #212529,
'dodger-blue': #041b33,
'pale-blue': #caeefa,
'turquoise': #3dcae0,
'pacific-blue': #008ee2,
'info': #17a2b8,
'tw-blue': #55acee,
'blue': #1aafff,
'spring': #179de5,
'in-blue': #007ab6,
'link':#0369d7,
'fb-blue': #415e9b,
'git-blue': #071224,
'dark-blue': #0b163a,
'aws-blue': #0d1d2d,
'old-green': #20d15f,
'cyan' : #2ed8b6,
'whatsapp': #1ebea5,
'warning':#ffb64d,
'green': #149241,
'dark-green': #24a736,
'lime': #6a9e2e,
'purple': #765ee8,
'dark-purple': #5764ad,
'scarlet': #a94442,
'red': #ff414d,
'red2': #f13b46,
'red3': #ea313c,
'red4': #ff505bba,
'coral': #ff8282,
'orange': #ec7211,
'dark-orange': #f15e03,
'light-orange': #ff910e,
'enterprise' : #4f84ff,
'black': $black,
), $theme-colors);

$browser-gray: theme-color('whisper');
$device-gray: #55606d;

$pink: #f7008a;
$red: #eb2123;
$dark-red: #bd1719;
$maroon: #521173;

$dark-purple: #452eb3;
$space-purple: #351bab;

$orange: #ff910e;
$dark-orange: #e2800b;
$light-orange: #f3ac3b;

$dark-yellow: #A79500;

$blue: #1aafff;
$pale-blue: #96cae0;

$green: #82E70D;

/* ======================
# Dashboard Variables
====================== */
$clay: #212b34;
$alto: #d4d2d2;
$alto-border: #dedede;
$gray-border: rgba(212,210,210,.3);
$icon-gray: #8a8a8a;
$gallery-gray: #eee;
$gallery-light-gray: #f7f7f7;
$boulder-gray: #757575;
$dove-gray: #666565;
$mine-shaft: #222;

$accent-blue: #3498db;
$royal-blue: #1e5ee8;
