

.toggle-label {
    width: 12rem;
    height: 2.5rem;
  }
  .toggle-label input[type=checkbox] { 
    opacity: 0;
  }
  .toggle-label input[type=checkbox]+.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fb4a55;
    transition: background 150ms linear;  
  }
  .toggle-label input[type=checkbox]:checked+.back {
    background: #2ed8b6; /*green*/
  }
  
  .toggle-label input[type=checkbox]+.back .toggle {
    display: block;
    position: absolute;
    content: ' ';
    background: #fff;
    width: 50%; 
    height: 100%;
    transition: margin 150ms linear;
  }
  .toggle-label input[type=checkbox]:checked+.back .toggle {
    margin-left: 100px;
  }
  .toggle-label .label {
    position: absolute;
    width: 50%;
    color: #ddd;
    text-align: center;
    font-size: 16px;
  }
  
  .toggle-label input[type=checkbox]:checked+.back .label.on {
    color: #fff;
  }
  .toggle-label input[type=checkbox]+.back .label.off {
    color: #fff;
  }
  .toggle-label input[type=checkbox]:checked+.back .label.off {
    color: #ddd;
  }
  