 <!-- ============================================================== -->
 <!-- left sidebar -->
 <!-- ============================================================== -->
 <div class="nav-left-sidebar sidebar-dark">
   <div class="info-sidebar">
     <h2>{{empresa.nombre}}</h2>
     <span>{{empresa.email}}</span>
     <img style="background: #fff" [src]="URL_SERVER+empresa.logo" alt="logo {{empresa.nombre}}" class="rounded-circle">
   </div>
   <div class="menu-list">
     <nav class="navbar navbar-expand-lg navbar-light">
       <a href="/" class="d-xl-none d-lg-none">PideSpeed</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
         aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
         <ul class="navbar-nav flex-column">
           <li class="nav-divider">
             Menu
           </li>
           <li class="nav-item d-lg-none">
            <label class='toggle-label d-block position-relative shadow-sm rounded-pill mx-auto mt-3'>
              <input type='checkbox' (click)="Apertura()" [checked]="empresa.abierto === 1" class="w-100 h-100 position-absolute"/>
                <span class='back rounded-pill'>
                 <span class='toggle rounded-pill'></span>
                  <span class='label on d-flex align-items-center justify-content-center top-0 left-0 bottom-0'>Abierto</span>
                 <span class='label off d-flex align-items-center justify-content-center top-0 right-0 bottom-0'>Cerrado</span>
               </span>
             </label>
           </li>
           <li class="nav-item">
             <a [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link "><i class="material-icons">home</i> Inicio</a>
           </li>
           <li class="nav-item">
             <a [class.active]="rla?.isActive" routerLinkActive="active" class="nav-link" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-1"><i class="material-icons">shopping_basket</i> Productos</a>
             <div id="submenu-2" class="collapse submenu">
               <ul class="nav flex-column">
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/products']" #rla="routerLinkActive" routerLinkActive="active">Productos</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/products/accompaniments']" routerLinkActive="active">Acompañamientos</a>
                 </li>
                 <li class="nav-item">
                  <a class="nav-link" [routerLink]="[ '/products/sabores']" routerLinkActive="active">Sabores</a>
                </li>
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/products/additional']" routerLinkActive="active">Adicionales</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/products/size']" routerLinkActive="active">Tamaños</a>
                 </li>
               </ul>
             </div>
           </li>
           <li class="nav-item ">
             <a [routerLink]="[ '/orders']" routerLinkActive="active" class="nav-link text-capitalize">
                <i class="fas fa-clipboard-list"></i>
                <span  matBadge="{{cantidadPendientes}}" matBadgeColor="white">Órdenes </span>
              </a>
           </li>
           <li class="nav-item">
             <a [class.active]="rlaInvoice?.isActive" routerLinkActive="active" class="nav-link" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-1">
               <i class="fas fa-file-invoice-dollar"></i> Facturación
              </a>
             <div id="submenu-3" class="collapse submenu">
               <ul class="nav flex-column">
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/invoice/resume']" routerLinkActive="active">Resumen</a>
                 </li>
                 <li class="nav-item">
                   <a class="nav-link" [routerLink]="[ '/invoice']" #rlaInvoice="routerLinkActive" routerLinkActive="active">Recibos</a>
                 </li>
               </ul>
             </div>
           </li>
           <li class="nav-item ">
             <a [routerLink]="[ '/help']" routerLinkActive="active" class="nav-link"><i class="far fa-question-circle"></i>Ayuda</a>
           </li>
           <li class="nav-item ">
            <a [routerLink]="[ '/preview/profile']" routerLinkActive="active" class="nav-link"><i class="fas fa-columns"></i>Vista en Pidespeed</a>
          </li>
           <li class="nav-item d-lg-none">
            <a  [routerLink]="[ '/profile']" class="nav-link"><i class="fas fa-user mr-2"></i>Cuenta</a>
          </li>
          <li class="nav-item d-lg-none">
            <a  (click)="onLogOut()" class="nav-link">
              <i class="fas fa-power-off mr-2"></i> Cerrar sesión
            </a>
          </li>
         </ul>
       </div>
     </nav>
   </div>
 </div>
 <!-- ============================================================== -->
 <!-- end left sidebar -->
 <!-- ============================================================== -->
