<div class="row no-gutters mx-auto border-bottom py-3">
  <div class="col-2">
    <img src="https://generated.photos/vue-static/home/hero/6.png" class="img-fluid" alt="">
  </div>
  <div class="col-6 px-3 text-left align-self-center">
    <h3 class="h5 mb-1 p-0">{{ rowTitle }}</h3>
    <p class="mb-0">{{ rowSubtitle }} </p>
  </div>
  <div class="col-3 text-right align-self-end mb-2">
    <small *ngIf="rowStatus" class="text-capitalize" [ngClass]="rowStatus === 'activo' ? 'text-green' : rowStatus === 'inactivo' ? 'text-red' : 'text-warning'" ><b>{{ rowStatus }}</b></small>
  </div>
</div>
