<div class="row no-gutters mx-auto border-bottom py-3 {{ isDisabled ? 'bg-whisper' : 'bg-white'}}">
  <div class="col-2 px-1 ">
    <img src="https://generated.photos/vue-static/home/hero/6.png" class="img-fluid" alt="">
  </div>
  <div class="col-8 px-2 text-left align-self-center">
    <h3 class="h5 mb-1 p-0">{{ rowTitle }}</h3>
    <p class="mb-0">{{ rowSubtitle }} </p>
  </div>
  <div class="col-2 text-right align-self-end mb-2">
    <ng-container *ngIf="hasActions">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="font-20">more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="disabled(1)">
          <mat-icon>{{ isDisabled ? 'location_on' : 'location_off' }}</mat-icon>
          <span>{{ isDisabled ? 'Activar' : 'Desactivar' }}</span>
        </button>
        <button mat-menu-item data-toggle="modal" data-target="#AppModal">
          <mat-icon>create</mat-icon>
          <span>Editar</span>
        </button>
        <button *ngIf="dataId" mat-menu-item (click)="delete(dataId)">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    </ng-container>
    <small *ngIf="rowStatus" class="text-capitalize" [ngClass]="rowStatus === 'activo' ? 'text-green' : rowStatus === 'inactivo' ? 'text-red' : 'text-warning'"><b>{{ rowStatus }}</b></small>
  </div>
</div>
<ng-container *ngIf="hasActions">
  <app-modal-form [formType]='formType'></app-modal-form>
</ng-container>
