/* You can add global styles to this file, and also import other style files */


:root {
  --RojoPrincipal: #FF414D;
  --SegundoRojoOscuro: #f13b46;
  --TercerRojoOscuro: #ea313c;
  --BlancoRojo: #dab1b4;
  --fuentePrincipal: 'Poppins',
    sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--fuentePrincipal), "Helvetica Neue", sans-serif;
}

/* .sidebar-dark::-webkit-scrollbar {
  display: none;
} */

.ecommerce-widget,
.componentContainer {
  animation: fadeIn 1.2s ease
}
.text-primary-red {
  color: var(--RojoPrincipal);
}
.sidebar-dark::-webkit-scrollbar {
  width: 8px;
  background-color: #f13b46;
}

.sidebar-dark::-webkit-scrollbar-thumb {
  background-color: #ff505bba;
  border-radius: 20px;
}

.mat-card,
.mat-list-item,
.mat-tab-label,
.mat-tab-link,
.mat-accent .mat-input-element,
.mat-tab-group,
.mat-form-field-label,
.mat-form-field,
.mat-option,
.mat-expansion-panel-header,
.mat-expansion-panel-content {
  font-family: var(--fuentePrincipal) !important;
  font-size: 16px;
}

.mat-table,
.mat-card,
.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button,
small,
.small,
body,
.mat-table,
.mat-menu-item,
.mat-form-field,
.mat-option,
.mat-stepper-horizontal,
.mat-stepper-vertical,
.mat-tab-label,
.mat-tab-link,
.mat-expansion-panel-header,
.mat-expansion-panel-content,
.mat-list-item,
.mat-select,
.mat-checkbox,
.mat-radio-button,
.mat-tab-group,
.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-badge-content {
  font-family: var(--fuentePrincipal) !important;
}
@media screen and (min-width: 991px) {
  .w-lg-25 {
    width: 25%!important;
  }
}

.mat-badge-content {
  color: var(--RojoPrincipal);
  background: #FFFFFF;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -30px;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 0;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}
ul {
  list-style: square;
}
.border-primary{
  border-color: var(--RojoPrincipal)!important;
}
.mat-hint {
  margin-top: 5px;
  color: rgba(0, 0, 0, .6);
}

.slimScrollDiv {
  height: auto !important;
}

.menu-list {
  height: auto !important;
}

.fixed-top {
  left: 264px !important;
}

.bg-absolute-transparent-black {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000007a;
}

.tarjetasDashboard {
  height: 150px;
}

.border-light-grey{
  border: 1px solid #eaeaea;
}

.cursor-pointer:hover{
  cursor: pointer;
}

.text-grey {
  color: #333;
}
.text-p-medium {
  font-size: 1.25rem;
}
.text-p-small{
  font-size: .85rem;
}
@media (max-width: 767.98px){
  .text-p-medium {
    font-size: 1.05rem;
  }
  .text-p-small{
    font-size: .8rem;
  }
}
@media screen and (min-width:991px) {
  .w-lg-75 {
    width: 75%!important;
  }
  .alert{
    width: 60%;
  }
}
@media screen and (min-width:768px) {
  .w-md-50 {
    width: 50%!important;
  }
}
@media screen and (min-width:576px) {
  .w-sm-auto {
    width: auto!important;
  }
}
.mw-362p{
  max-width: 362px;
}
.top-0{
  top: 0!important;
}
.left-0{
  left: 0;
}
.right-0 {
  right: 0;
}
.bottom-0{
  bottom: 0;
}
.alertTooltip {
  font-size: 13px;
  background:#000;
}
.h-150p{
  height: 150px;
}
.h-auto{
  height: auto!important;
}
.alert {
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.alert h3 {
  color: var(--RojoPrincipal);
}

.danger-alert {
  border: 1px solid var(--RojoPrincipal);
  border-left: 5px solid var(--RojoPrincipal);
}
.st-icon {
  color: #fff;
  font-size: 23px;
  padding: 40px 40px 20px 20px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  right: -30px;
  transition: all .3s ease-in-out;
}

.tarjetasDashboard:hover .st-icon {
  font-size: 40px;
}

.labelStatus {
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 7px;
  margin-right: 5px;
  font-weight: 400;
}

.labelStatus-danger {
  background: linear-gradient(45deg, #fb4a55, #ef8087);
  color: #fff !important;
}

.labelStatus-danger-outline {
  border: 1px solid #fb4a55;
  color: #fb4a55 !important;
}

.labelStatus-success {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  color: #fff !important;
}

.labelStatus-warning {
  background: linear-gradient(45deg, #ffb64d, #ffcb80);
  color: #fff;
}

.buttonIcon {
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  border: none;
}

.subtitles-card {
  font-size: 18px;
}

.logo {
  font-size: 32px;
  text-align: center;
  color: #ff414d;
  margin: 10px;
}

.dashboard-header .navbar {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  -moz-box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  padding: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-height: 60px;
  background-color: #ffffff;
}

.info-sidebar {
  display: flex;
  position: relative;
  align-items: center;
  padding: 35px 0px;
  flex-direction: column;
  height: 175px;
  background: var(--SegundoRojoOscuro);
  color: #fff;
}

.info-sidebar h2 {
  color: #fff;
}

.info-sidebar img {
  height: 95px;
  width: 95px;
  position: absolute;
  bottom: -40px;
  border: 6px solid #fff;
  object-fit: contain;
}

.table-tr {
  height: 60px;
}

.table-tr:hover {
  cursor: pointer;
  background: #f7f7f7;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: var(--RojoPrincipal) !important;
}

.mat-tab-body-content {
  height: auto !important;
  overflow: visible !important;
  margin-top: 20px;
}

.btn-custom-primary {
  background: #f13b46;
  color: #fff;
  box-shadow: 3px 0px 20px -5px #f13b46 !important;
  font-family: var(--fuentePrincipal) !important;
  font-size: 18px;
  border-radius: .5rem!important;
}

.btn-custom-outline {
  font-family: var(--fuentePrincipal) !important;
  font-size: 18px;
  background: transparent;
  color: #f13b46;
  border: 1px solid #f13b46 !important;
  border-radius: .5rem!important;
}

.btn-custom-outline:hover {
  color: #f13b46;
}

.btn-custom-primary:disabled {
  box-shadow: 0 0 0 !important;
}
.btn-custom-sm {
  font-size: 14px;
}
.swal2-styled.swal2-confirm {
  background-color: var(--RojoPrincipal) !important;
  border-radius: 23px !important;
}

.swal2-styled.swal2-cancel {
  color: var(--RojoPrincipal) !important;
  border-radius: 25px !important;
  border: 1px solid var(--RojoPrincipal) !important;
  background-color: #fff !important;
}

/* .mat-accordion .mat-expansion-panel:last-of-type {
  width: 97%;
  margin: 0 auto;
} */

.actualizarEstado {
  padding: 0 15px;
}

.actualizarEstado .mat-form-field {
  width: 350px !important;
  margin: 0 auto;
}

.btn-link {
  color: var(--RojoPrincipal) !important;
}

.mat-list-item-content {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mat-card-content {
  margin-bottom: 0 !important;
}

.mat-form-field-wrapper {
  padding: 10px 0 !important;
}

.mat-card-actions {
  margin-bottom: 0px !important;
}

.btnmodal {
  color: var(--RojoPrincipal);
  font-size: 18px;
  float: right;
}
.btnmodal-confirm {
  background-color: var(--RojoPrincipal);
  color: #fff;
}
.btnmodal-confirm:disabled {
  background-color: #ccc;
  color: #333;
}

/*** File input  ***/
.wrap-custom-file {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 185px;
  margin: 0 0.5rem 1rem;
  text-align: center;
}

@media screen and (max-width:800px) {
  .wrap-custom-file {
    margin: 15px auto;
  }
}

.wrap-custom-file input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  overflow: hidden;
  opacity: 0;
}

.wrap-custom-file label {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
  padding: 0 0.5rem;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.wrap-custom-file label span {
  display: block;
  margin-top: 2rem;
  font-size: 1.4rem;
  color: #777;
  transition: color 0.4s;
}

.wrap-custom-file label .fa {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
  transform: translatex(-50%);
  font-size: 1.5rem;
  color: lightcoral;
  transition: color 0.4s;
}

.wrap-custom-file label:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

.wrap-custom-file label:hover span,
.wrap-custom-file label:hover .fa {
  color: #333;
}

.wrap-custom-file label.file-ok {
  background-size: cover;
  background-position: center;
}

.wrap-custom-file label.file-ok span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  color: #000;
  background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok .fa {
  display: none;
}

/*** FIN File input  ***/
/*** TIME PICKER ***/
.timepicker__header {
  background-color: var(--RojoPrincipal) !important;
}

.clock-face__number>span.active {
  background-color: var(--RojoPrincipal) !important;
}

.timepicker-button {
  color: var(--RojoPrincipal) !important;
}

.clock-face__clock-hand {
  background-color: var(--RojoPrincipal) !important;
}

/***FIN  TIME PICKER ***/


form {
  padding: 0!important;
}

.object-fit-cover {
  object-fit: cover;
}
.object-fit-contain {
  object-fit: contain;
}

.lazyloader {
  content: '';
  /* position: absolute; */
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader-rotation .8s infinite linear;
  animation: loader-rotation .8s infinite linear;
  border-left: 3px solid rgba(182, 114, 114, 0.15);
  border-right: 3px solid rgba(182, 114, 114, 0.15);
  border-bottom: 3px solid rgba(182, 114, 114, 0.15);
  border-top: 3px solid var(--RojoPrincipal);
  border-radius: 100%;
}

@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*Drag and Drop de Angular*/
.categorias-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.categorias-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
              position: relative;
              z-index:  2000!important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.categorias-box:last-child {
  border: none;
}
.categorias-list.cdk-drop-list-dragging .categorias-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.categorias-custom-placeholder {
  background: var(--RojoPrincipal);
  border: solid 3px var(--RojoPrincipal);
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
