.mat-card,
.mat-list-item,
.mat-tab-label,
.mat-tab-link,
.mat-accent .mat-input-element,
.mat-tab-group,
.mat-form-field-label,
.mat-form-field,
.mat-option,
.mat-expansion-panel-header,
.mat-expansion-panel-content {
  font-size: 16px;
}

.mat-badge-content {
  color: theme-color('red2');
  background: $white;
}

.mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
  right: -40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mat-badge-medium.mat-badge-above .mat-badge-content {
  top: 0;
}

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 9999 !important;
}

.mat-hint {
  margin-top: 5px;
  color: rgba(0, 0, 0, .6);
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: theme-color('red2') !important;
}

.mat-tab-body-content {
  height: auto !important;
  overflow: visible !important;
  margin-top: 20px;
}

.mat-list-item-content {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.mat-card-content {
  margin-bottom: 0 !important;
}

.mat-form-field-wrapper {
  padding: 10px 0 !important;
}

.mat-card-actions {
  margin-bottom: 0px !important;
}

// Mat slide toggle
.mat-slide-toggle {
  transform: scale(1.15);
  .mat-slide-toggle-bar {
    background-color: theme-color('light-gray');
  }
  &.mat-checked {
    .mat-slide-toggle-bar {
      background-color: rgb(253 130 138);
    }
    .mat-slide-toggle-thumb {
      background-color: theme-color('red2');
    }
  }
}

.mat-form-field-required-marker {
  color: theme-color('red');
}
