<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
      <!-- ============================================================== -->
      <!-- pageheader  -->
      <!-- ============================================================== -->
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
          <div class="page-header">
            <div class="d-sm-flex justify-content-between align-items-center">
              <h2 class="pageheader-title">{{empresa.nombre}}</h2>
              <ng-container *ngIf="lazyloader; then cargando; else NoCargando"></ng-container>
              <ng-template #NoCargando>
                <ng-container *ngIf="!espera">
                  <button (click)="procesarZonas()" [disabled]="!zonasForm.valid" class="float-right btn-custom-primary px-4 py-1" mat-raised-button>Guardar</button>
                </ng-container>
              </ng-template>
              <ng-template #cargando>
                <div class="position-relative">
                  <div class="lazyloader"></div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- end pageheader  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Body page  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <main role="main" class="container">
          <div class="row">
            <div class="col-md">
              <div class="starter-template">
                <!-- ============================================================== -->
                <!-- Links en tab  -->
                <!-- ============================================================== -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link linkTab" [routerLink]="['/profile']" role="tab" aria-controls="home" aria-selected="true">Información básica</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active linkTab" role="tab" aria-controls="contact" aria-selected="false">Zonas a domicilio</a>
                  </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Fin Links en tab   -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- Tarjetas de zonas   -->
                <!-- ============================================================== -->
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade masonry-container show active" id="zonas" role="tabpanel">
                    <form [formGroup]="zonasForm">
                      <h5 class="mt-4">Ciudad - {{empresa.nombreCiudad}}</h5>
                      <div class="d-flex flex-column">
                        <div class="mb-2">
                          <mat-checkbox formControlName="freeDelivery" [disabled]="zonasForm.value.deliveryPriceAllCond">A domicilio gratis (todas)</mat-checkbox>
                        </div>
                        <div class="mb-2">
                          <p class="mb-1">¿El precio a domicilio es igual para todas las zonas?</p>
                          <mat-checkbox formControlName="deliveryPriceAllCond" [disabled]="zonasForm.value.freeDelivery">Sí, es igual para todas</mat-checkbox>
                          <mat-form-field color="accent" class="w-100 w-lg-75 pb-3 d-block" appearance="outline" *ngIf="zonasForm.value.deliveryPriceAllCond">
                            <mat-label>Precio a domicilio</mat-label>
                            <span matSuffix>$ &nbsp;</span>
                            <input (input)="setPrecio('precio')" class="text-capitalize" matInput formControlName="deliveryPriceAll">
                          </mat-form-field>
                        </div>
                        <div class="mb-2">
                          <p class="mb-1">¿Tienes un precio mínimo para hacer entregas a domicilio?</p>
                          <mat-checkbox formControlName="deliveryRequiredPriceCond">Sí, tengo precio mínimo</mat-checkbox>
                          <mat-form-field color="accent" class="w-100 w-lg-75 pb-0 d-block" appearance="outline" *ngIf="zonasForm.value.deliveryRequiredPriceCond">
                            <mat-label>Precio a mínimo a domicilio</mat-label>
                            <span matSuffix>$ &nbsp;</span>
                            <input (input)="setPrecio('precioMin')" class="text-capitalize" matInput formControlName="deliveryRequiredPrice">
                          </mat-form-field>
                          <p *ngIf="zonasForm.value.deliveryRequiredPriceCond" class="mb-1 pb-3">Si todas las zonas tienen el mismo precio mínimo coloquelo aquí</p>
                        </div>
                        <div class="mb-2">
                          <p class="mb-1">¿Tienes un horario máximo para hacer entregas a domicilio a algunas zonas?</p>
                          <mat-checkbox formControlName="deliveryLimit">Sí, tengo un horario límite </mat-checkbox>
                        </div>
                      </div>
                      <div class="mt-4">
                        <ng-container formArrayName="zonas" *ngFor="let zona of zonasArray.controls; index as i">
                          <div [formGroupName]="i" class="row mx-auto shadow_card bg-white justify-content-around align-items-center px-3 py-4 my-2 w-100" [ngClass]="{'bg-grey-dark': zonasArray.value[i].disabled}">
                            <div class="col-12 d-sm-flex align-items-center">
                              <h5 class="mb-0">{{ zonas[i].nombre }}</h5>
                              <div id="lightgallery-{{ zona.value.id }}" class="my-2 my-sm-0">
                                <a mat-button class="text-primary gallery-image-{{ zona.value.id }}" data-src="" data-sub-html="">Ver zona</a>
                              </div>
                            </div>
                            <div class="col-lg-3">
                              <p class="mb-1">{{zonas[i].detalle}}</p>
                              <mat-checkbox formControlName="disabled">No entrego a esta zona</mat-checkbox>
                            </div>
                            <div class="col-lg-3">
                              <mat-form-field color="accent" class="d-block" appearance="outline">
                                <mat-label>Precio a domicilio</mat-label>
                                <span matSuffix>$ &nbsp;</span>
                                <input id="precio{{i}}" type="number" min="0" formControlName="precio" class="text-capitalize" matInput >
                                <mat-error class="my-2" *ngIf="zonasArray.controls[i].controls.precio.errors?.required">
                                  Este campo es obligatorio
                                </mat-error>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                              <mat-form-field color="accent" class="d-block" appearance="outline">
                                <span matSuffix>$ &nbsp;</span>
                                <mat-label>Precio minimo</mat-label>
                                <input id="precioMin{{i}}" type="number" min="0" formControlName="precioMin" class="text-capitalize" matInput >
                              </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                              <mat-form-field color="accent" class="w-100" appearance="outline">
                                <mat-label>Hora limite de entrega</mat-label>
                                <div>
                                  <input id="horario{{i}}" formControlName="horario" [minutesGap]="1" matInput [ngxTimepicker]="cierreZona" [format]="24" readonly>
                                </div>
                                <ngx-material-timepicker #cierreZona></ngx-material-timepicker>
                              </mat-form-field>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </form>
                  </div>
                </div>
                <!-- ============================================================== -->
                <!-- Fin Tarjetas de zonas   -->
                <!-- ============================================================== -->
              </div>
            </div>
          </div>
        </main>
      </div>
    <!-- ============================================================== -->
    <!--End body page  -->
    <!-- ============================================================== -->
    </div>
  </div>
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<app-footer></app-footer>
<!-- ============================================================== -->
<!-- end footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->
