       <app-header></app-header>
       <app-sidebar></app-sidebar>
       <!-- ============================================================== -->
       <!-- wrapper  -->
       <!-- ============================================================== -->
       <div class="dashboard-wrapper">
         <div class="dashboard-ecommerce">
           <div class="container-fluid dashboard-content ">
             <!-- ============================================================== -->
             <!-- pageheader  -->
             <!-- ============================================================== -->
             <div class="row">
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                 <div class="page-header">
                   <h2 class="pageheader-title">Resumen de pagos</h2>
                 </div>
               </div>
             </div>
             <!-- ============================================================== -->
             <!-- end pageheader  -->
             <!-- ============================================================== -->
             <!-- ============================================================== -->
             <!-- Body page  -->
             <!-- ============================================================== -->
             <div class="ecommerce-widget">
               <!-- ============================================================== -->
               <!--Resumen de pagos  -->
               <!-- ============================================================== -->
               <div class="row mt-4">
                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                   <div class="card border-3 border-top border-top-primary w-100">
                     <div class="card-body  text-center">
                       <h5 class="subtitles-card text-muted">Resumen de pagos por mes</h5>
                       <p class="text-muted">Puede revisar todos los pagos que hemos realizado a su negocio.</p>
                       <form [formGroup]="ResumeTime"
                         class="metric-value row justify-content-center align-items-center">

                         <mat-form-field class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" color="accent" class="m-2"
                           appearance="outline">
                           <mat-label>Mes</mat-label>
                           <mat-select formControlName="mes" [(value)]="selectedMonth" (ngModelChange)="getEmpresa()">
                            <mat-option *ngFor="let mes of meses " [value]="mes.id">
                              {{mes.nombre}}
                            </mat-option>
                          </mat-select>
                         </mat-form-field>

                         <mat-form-field class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12" color="accent" class="m-2"
                           appearance="outline">
                           <mat-label>Año</mat-label>
                           <mat-select formControlName="year" [(value)]="selectedYear">
                             <mat-option *ngFor="let year of years " [value]=year>
                               {{year}}
                             </mat-option>
                           </mat-select>
                         </mat-form-field>
                       </form>
                     </div>
                   </div>
                 </div>

                 <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                   <div class="card">
                     <!-- <h5 class="card-header d-flex justify-content-between align-items-center subtitles-card py-4">
                       Resumen: {{ResumeTime.value.mes}} {{ResumeTime.value.year}}</h5> -->
                     <div class="card-body p-0">
                       <div class="table-responsive">
                         <table class="table">
                           <thead class="bg-light">
                             <tr class="border-0">
                               <th class="border-0">Fecha</th>
                               <th class="border-0">N° de Transferencia</th>
                               <th class="border-0">Total vendido</th>
                               <th class="border-0">Comisión</th>
                               <th class="border-0">Total Pagado</th>
                             </tr>
                           </thead>
                           <tbody>
                             <tr *ngFor="let pago of pagos; index as i" class="itemsOnTab" data-toggle="modal"
                               [attr.data-target]="'#resumeModal'+i">
                               <td>{{pago.fecha | date: 'dd/MM/yyyy'}} - {{pago.fecha | date: 'shortTime'}}</td>
                               <td>{{pago.transferencia}}</td>
                               <td>
                                 <span class="">
                                   {{pago.total | currency:"BsS. "}}</span>
                               </td>
                               <td><span class="">
                                   {{porcentaje[i] | currency:"BsS. "}}</span></td>

                               <td><span class="labelStatus labelStatus-danger-outline font-weight-bold">
                                   {{pago.total-porcentaje[i] | currency:"BsS. "}}</span>
                               </td>
                             </tr>

                             <tr>
                               <td colspan="9"><span
                                   class="labelStatus labelStatus-danger float-right mr-5 subtitles-card ">
                                   <span>Total:</span>
                                   {{getTotal() | currency:"BsS. "}}</span>
                               </td>
                             </tr>
                           </tbody>
                         </table>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
               <!-- ============================================================== -->
               <!-- Resumen de pagos  -->
               <!-- ============================================================== -->



               <!-- Modal -->
               <div *ngFor="let pago of pagos; index as i" class="modal fade" id="resumeModal{{i}}" tabindex="-1"
                 role="dialog" aria-hidden="true">
                 <div class="modal-dialog modal-lg" role="document">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title">Resumen del día</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true"><i class="fas fa-times"></i></span>
                       </button>
                     </div>
                     <div class="modal-body">
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                         <div class="">
                           <!-- <h5
                             class="card-header d-flex justify-content-between align-items-center subtitles-card py-4">
                             Resumen del dia 9 de Sept, 2019</h5> -->
                           <div class="card-body p-0">
                             <div class="table-responsive">
                               <table class="table">
                                 <thead class="bg-light">
                                   <tr class="border-0">
                                     <th class="border-0">Fecha</th>
                                     <th class="border-0">Orden</th>
                                     <th class="border-0">Monto</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   <tr *ngFor="let venta of ventas[i]" class="itemsOnTab" data-toggle="modal"
                                     data-target="#resumeModal">
                                     <td>{{venta.fecha | date: 'dd/MM/yyyy'}} - {{venta.fecha | date: 'shortTime'}}</td>
                                     <td>{{venta.codigo}}</td>
                                     <td><span class="labelStatus labelStatus-danger-outline font-weight-bold">
                                         {{venta.total | currency:"BsS. "}}</span>
                                     </td>
                                   </tr>
                                 </tbody>
                               </table>
                             </div>
                           </div>
                         </div>
                       </div>
                     </div>

                   </div>
                 </div>
               </div>
               <!-- Modal -->




             </div>
             <!-- ============================================================== -->
             <!--End body page  -->
             <!-- ============================================================== -->

           </div>
         </div>
         <!-- ============================================================== -->
         <!-- footer -->
         <!-- ============================================================== -->
         <app-footer></app-footer>
         <!-- ============================================================== -->
         <!-- end footer -->
         <!-- ============================================================== -->
       </div>
       <!-- ============================================================== -->
       <!-- end wrapper  -->
       <!-- ============================================================== -->
