.google-maps-container {
  height: calc(100vh - 65px);
}

#ver_repartidores_btn {
  position: fixed;
  top: 90px;
  right: 0;
  z-index: 1;
}

#repartidores_list {
  > div {
    top: 140px;
    overflow-y: auto;
  }
}
