<app-header></app-header>
<app-sidebar></app-sidebar>
<!-- ============================================================== -->
<!-- wrapper  -->
<!-- ============================================================== -->
<div class="dashboard-wrapper">
  <div class="dashboard-ecommerce">
    <div class="dashboard-content ">
      <!-- ============================================================== -->
      <!-- Body page  -->
      <!-- ============================================================== -->
      <div class="ecommerce-widget">
        <div class="bg-light-grey position-relative fade-animation">
        <!-- ============================================================== -->
        <!-- Nav  -->
        <!-- ============================================================== -->
          <div class="d-flex justify-content-between align-items-center pt--md-4 border-md-bottom py-2">
            <div class="d-flex w-100 d-flex justify-content-between justify-content-md-start">
              <a [routerLink]="['/preview/profile/']" class="d-block d-md-none text-grey text-hover-red d-flex justify-content-center align-items-center">
                <i class="material-icons font-icon-md">arrow_back</i>
              </a>
              <a [routerLink]="['/preview/profile/']" class="lead d-none d-md-flex align-items-center btn btn-outline-grey btn-md btn-rounded px-4 w-fit-content">
                <i class="material-icons">arrow_back</i>Volver
              </a>
              <div>
                <img [routerLink]="['/home']" src="https://ssl.pidespeed.com/web/3.png" alt="Logo de pidespeed" width=215>
              </div>
            </div>
          </div>
        <!-- ============================================================== -->
        <!-- Fin Nav  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Portada  -->
        <!-- ============================================================== -->
          <div class="carousel slide" data-ride="carousel" class="mt-md-3">
            <div class="carousel-inner">
              <div class="carousel-item active h-30vh h-md-55vh">
                <!-- <img src="https://ssl.pidespeed.com/{{empresa.img}}" class="d-block w-100 h-30vh h-md-55vh img-fluid" alt="imagen de portada de {{empresa.img}}"> -->
                <div class="carousel-caption d-none d-md-block bg-white text-grey rounded-pill shadow">
                  <div class="row justify-content-center align-items-center">
                    <div class="col-8 align-self-center">
                      <div class="d-flex align-items-center justify-content-center">
                        <h2 class="text-capitalize">{{ empresa.nombre }}</h2>
                          <button *ngIf=" empresa.mensaje_carrito != '' " id="mensaje_carrito" type="button" class="btn text-primary-red p-2" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-content=""><i class="fas fa-info"></i></button>
                      </div>
                      <p>{{ empresa.direccion }}</p>
                      <div class="d-sm-flex justify-content-center">
                        <a *ngIf="coordenadas != ''" href="https://maps.google.com/?q={{coordenadas}}" target="_blank" mat-button class="mx-1 btn">Ver en Maps</a>
                        <button mat-stroked-button class="mx-1 btn-outline-red" data-toggle="modal" data-target="#horarios">Ver horario</button>
                      </div>
                    </div>
                    <div class="col-2">
                      <img src="https://ssl.pidespeed.com/{{empresa.logo}}" class="img-fluid" alt="Logo de {{ empresa.nombre }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-block d-md-none bg-white text-grey px-3 py-3 mt-3 rounded">
            <div class="row">
              <div class="col-8 align-self-center">
                <div class="d-flex align-items-center">
                  <h2 class="text-capitalize">{{ empresa.nombre }}</h2>
                    <button *ngIf=" empresa.mensaje_carrito != '' " id="mensaje_carrito" type="button" class="btn text-primary-red p-2" data-placement="bottom" data-trigger="focus" data-toggle="popover" data-content=""><i class="fas fa-info"></i></button>
                </div>
                <p>{{empresa.direccion}}</p>
                <div class="d-sm-flex">
                  <a *ngIf="coordenadas != ''" href="https://maps.google.com/?q={{coordenadas}}" mat-button class="mx-1 btn mb-3 mb-sm-0">Ver en Maps</a>
                  <button mat-stroked-button class="mx-1 btn-outline-red" data-toggle="modal" data-target="#horarios">Ver horario</button>
                </div>
              </div>
              <div class="col-4 px-3">
                <img src="https://ssl.pidespeed.com/{{empresa.logo}}" class="img-fluid" alt="Logo de {{ empresa.nombre }}">
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- Fin Portada  -->
          <!-- ============================================================== -->
          <div class="container contenidoRestaurante pb-5 mb-5">
          <!-- ============================================================== -->
          <!-- Categorias -->
          <!-- ============================================================== -->
            <div class="p-4 cat-section">
              <ng-container *ngIf="categorias.length > 1">
                <button *ngFor="let categoria of categorias" class="btn text-grey lead d-inline-block m-2 text-capitalize"
                [ngx-scroll-to]="categoria.nombre">{{ categoria.nombre }}</button>
              </ng-container>
            </div>
          <!-- ============================================================== -->
          <!-- Fin Categorias -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Tarjetas producto -->
          <!-- ============================================================== -->
            <ng-container *ngIf="lazyloaderProducto; then cargandoProducto; else NoCargandoProducto"></ng-container>
            <ng-template #cargandoProducto>
              <div class="loader-container">
                <div class="lazyloader"></div>
              </div>
            </ng-template>
            <ng-template #NoCargandoProducto>
              <div *ngFor="let categoria of categorias">
                <h3 id="{{categoria.nombre}}" class="text-capitalize pt-4">{{ categoria.nombre }}</h3>
                <div class="row">
                  <ng-container *ngFor="let producto of productos" >
                    <div *ngIf="producto.categoria_product_id === categoria.categoria_product_id" [routerLink]="['/preview/product/', producto.id]" class="col-sm-12 col-md-6 col-xl-4 shadow-sm mx-3 my-2 rounded border-light-grey cursor-pointer mw-362p">
                      <div class="row">
                        <div class="col-8 py-4  px-sm-2 px-lg-0 d-flex flex-column align-items-center justify-content-center bg-white h-150p text-center">
                          <p class="text-capitalize px-2">{{ producto.nombre }}</p>
                          <p *ngIf="producto.precio == 0 " style="color: #5a5a5a">Precio:&nbsp;{{ producto.precio1 | currency:"BsS. " }}</p>
                          <p *ngIf="producto.precio == 1 " style="color: #5a5a5a">A partir de:&nbsp;{{ producto.precio1 | currency:"BsS. "}}</p>
                        </div>
                        <div class="col-4 px-0 h-150p position-relative">
                          <div *ngIf="producto.cantidad == 0" class="position-absolute d-flex justify-content-center align-items-center  bg-absolute-transparent-black">
                            <p class="m-0 text-white">No disponible</p>
                          </div>
                          <img *ngIf="producto.img" src="https://ssl.pidespeed.com/{{producto.img}}" class="w-100 h-100 rounded-right object-fit-cover" alt="{{ producto.nombre}}" />
                        </div>
                      </div>
                  </div>
                  </ng-container>
                </div>
              </div>
            </ng-template>
          <!-- ============================================================== -->
          <!-- Fin tarjetas producto -->
          <!-- ============================================================== -->
          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Modal horarios -->
        <!-- ============================================================== -->        <div class="modal fade" id="horarios" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Horario de {{empresa.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
              <div class="modal-body">
                <div class="contenedorHorario">
                  <table class="table table-striped" *ngIf="horarios !== ''">
                    <tbody>
                      <tr *ngFor="let dia of dias">
                        <td>{{dia.dia}}</td>
                        <td *ngIf="horarios[dia.i] !== 'no laborable' && horarios[dia.i].inicio != horarios[dia.i].fin">{{horarios[dia.i].inicio | horarios}} - {{horarios[dia.i].fin | horarios }}</td>
                        <td *ngIf="horarios[dia.i] === 'no laborable'">No laborable</td>
                        <td *ngIf="horarios[dia.i] !== 'no laborable' && horarios[dia.i].inicio == horarios[dia.i].fin">Abierto las 24 horas</td>
                      </tr>
                    </tbody>
                  </table>
                  <mat-error *ngIf="horarios === ''">No tiene Horarios Disponibles</mat-error>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- Fin Modal horarios -->
          <!-- ============================================================== -->
        </div>
      </div>
      <!-- ============================================================== -->
      <!--End body page  -->
      <!-- ============================================================== -->
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- footer -->
  <!-- ============================================================== -->
  <app-footer></app-footer>
  <!-- ============================================================== -->
  <!-- end footer -->
  <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- end wrapper  -->
<!-- ============================================================== -->

