.h-30vh{
  height: 30vh;
}
@media screen and (min-width:768px){
  .h-md-55vh{
    height: 55vh;
  }
}
@media screen and (min-width:991px){
  .h-lg-55vh{
    height: 55vh;
  }
}

.btn-outline-red {
  color: var(--RojoPrincipal);
  background-color: transparent;
}
.btn-outline-red:hover {
  color: #fff;
  background-color: var(--RojoPrincipal);
}
.carousel-item {
  background-position: center;
  background-size: cover;
}
.cat-section {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

@media screen and (min-width:1100px) {
  tbody tr td:nth-child(2) {
    text-align: right;
  }
}

:root {
  --RojoPrincipal: #FF414D;
  --SegundoRojoOscuro: #f13b46;
  --TercerRojoOscuro: #ea313c;
  --fuentePrincipal: 'Muli', sans-serif;
  --FondoApp: #fafafa;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}
.cat-section {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.carousel-item{
  background-position:center;
  background-size: cover;
}

@media screen and (min-width:1100px) {
  tbody tr td:nth-child(2) {
    text-align: right;
  }
}

.lazyloader {
  content: '';
  /* position: absolute; */
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  top: 10px;
  bottom: 0;
  margin: auto;
  -webkit-animation: loader-rotation .8s infinite linear;
  animation: loader-rotation .8s infinite linear;
  border-left: 3px solid rgba(182, 114, 114, 0.15);
  border-right: 3px solid rgba(182, 114, 114, 0.15);
  border-bottom: 3px solid rgba(182, 114, 114, 0.15);
  border-top: 3px solid var(--RojoPrincipal);
  border-radius: 100%;
}

@-webkit-keyframes loader-rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
